body{
    text-align: center;
}
#principal{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav{
    background-color: rgb(162, 162, 162);
}
nav li{
    margin: 0 15px;
}
nav a{
    color: black;
    text-decoration: none;
    padding: 13px;
    display: block;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav a:hover{
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
}
hr{
    border: 2px solid red;
    width: 1100px;
}
h1{
    padding: 30px;
}